<div class="bg-dark fg-teal d-flex flex-align-center">
    <button class="pull-button m-0 bg-dark-hover">
        <span class="mif-menu fg-teal"></span>
    </button>
    <h2 class="text-light fg-teal" style="line-height: 52px">CircuitalMinds</h2>
</div>

<div class="suggest-box">
    <div class="data-box">
        <img src="{{ libs['fractal-img'] + '/Jungle3.png' }}" class="avatar">
        <div class="ml-4 avatar-title flex-column">
            <a href="{{ routes['base'] }}" class="d-block fg-white text-medium no-decor"><span class="p-2 reduce-1">Visitor</span></a>
            <p class="m-0"><span class="fg-green mr-2">&#x25cf;</span><span class="text-small">online</span></p>
        </div>
    </div>
    <img src="{{ libs['fractal-img'] + '/Jungle3.png' }}" class="avatar holder ml-2">
</div>

<div class="suggest-box">
    <input type="text" data-role="input" data-clear-button="false" data-search-button="true">
    <button class="holder">
        <span class="mif-search fg-teal"></span>
    </button>
</div>
