<!DOCTYPE html>
<html lang="en" class=" scrollbar-type-1 sb-cyan">
{% include index_parts['head'] %}
<body class="m4-cloak h-vh-100 bg-dark fg-teal">
	<div class="navview-content h-75">
        {% include index_parts['navbar'] %}
		<div id="content-wrapper" class="post-card content-inner h-100 w-100 fg-dark"

			 style="overflow-y: auto;
			 		background-image: url({{ libs['fractal-img'] + '/banners/wall_2.jpeg' }});">
			{% block content %}
			{% endblock %}
		</div>
		<div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: relative; bottom: 0">
    		<div>&copy; 2021 <a href="https://alanmatzumiya.github.io/" class="text-muted fg-white-hover no-decor">Saponis.Jabon</a></div>
		</div>
	</div>
{% include index_parts['javascripts'] %}
</body>
</html>
