{% extends 'index.html' %}

{% block content %}
<div class="row">

 <div class="row m-3 w-100">
  <div class="cell bg-white text-center">
   Saponis Inc
   <p class="text-leader2">
    Jabones elaborados de manera artesanal por saponificación con ingredientes naturales beneficiosos para una piel sana.
   </p>
   <p>
    Saponis
    <a href="https://circuitalminds.github.io/">
     official docs
    </a>
   </p>
  </div>
  </div>
  <div class="row m-3 w-100">


<div class="cell-md-6">
    <div data-role="wizard" data-role-wizard="true" class="wizard" style="height: 198px;">
        <section class="complete"><div class="page-content" style="max-height: none;">Page 1</div></section>
        <section class="complete"><div class="page-content" style="max-height: none;">Page 2</div></section>
        <section class="current"><div class="page-content" style="max-height: none;">Page 3</div></section>
    <div class="action-bar" style="left: 49px;"><button type="button" class="button wizard-btn-help cycle outline"><span class="default-icon-help"></span></button><button type="button" class="button wizard-btn-prev cycle outline"><span class="default-icon-left-arrow"></span></button><button type="button" class="button wizard-btn-next cycle outline disabled"><span class="default-icon-right-arrow"></span></button><button type="button" class="button wizard-btn-finish cycle outline"><span class="default-icon-check"></span></button></div></div>
</div>
<div class="cell-md-6">
    <div data-role="wizard" class="wizard-wide-fs wizard" data-role-wizard="true" style="height: 198px;">
        <section class="complete"><div class="page-content" style="max-height: none;">Page 1</div></section>
        <section class="complete"><div class="page-content" style="max-height: none;">Page 2</div></section>
        <section class="current"><div class="page-content" style="max-height: none;">Page 3</div></section>
    <div class="action-bar" style="left: 91px;"><button type="button" class="button wizard-btn-help cycle outline"><span class="default-icon-help"></span></button><button type="button" class="button wizard-btn-prev cycle outline"><span class="default-icon-left-arrow"></span></button><button type="button" class="button wizard-btn-next cycle outline disabled"><span class="default-icon-right-arrow"></span></button><button type="button" class="button wizard-btn-finish cycle outline"><span class="default-icon-check"></span></button></div></div>
</div>


  <div class="cell">
  <div class="row h-100">
       <div class="cell" style="background-image: url({{ libs['fractal-img'] + '/banners/wall.jpg' }});
              background-repeat: no-repeat; background-position: top;">
           <div class="card-content fg-light"
                style="margin-right: 15%; margin-top: 2%; margin-left: 45%; margin-bottom: 15%;">
            <div class="row mr-2 ml-2 fg-light border-double border-size-2 bd-dark bg-light fg-teal w-100">
               <img class="cell m-2 border-solid border-size-1"
                    width="100%" alt="{{ config_files['products'][15] }}, When is the wedding"
                    src="{{  config_files['products'][15] }}"/>
                   <div class="cell m-2">
                   Belleza, <br> cosmética y <br> cuidado personal. <br> $ 1,000
                   </div>
                   <div class="row m-3 mr-2 ml-2 fb-like"
                    data-href="https://www.facebook.com/CircuitalMinds/"
                    data-width=""
                    data-layout="button_count"
                    data-action="like"
                    data-size="small"
                    data-share="true">
                   </div>
               </div>
           </div>

       </div>
  </div>
</div>
<div class="cell-md-3">
   <p class="text-center h3 text-light">
    Lista de Productos
   </p>
   <div class="d-flex flex-justify-center flex-wrap m-2">

    <div class="w-100 row flex-justify-center">
     <div class="cell-md-4 mt-4">
      <select data-filter="false" data-prepend="Productos:" data-role="select">

       {% for key in config_files['products'].keys() %}
       <option value="{{ key }}">
        {{ key }}
       </option>
       {% endfor %}
      </select>
     </div>
    </div>
   </div>
   <ul data-cls-list="unstyled-list row flex-justify-center mt-4" data-cls-list-item="cell-sm-6 cell-md-4">

    {% for key in config_files['products'].keys() %}
    <li class="cell h-50">
     <figure class="text-center">
      <div class="img-container thumbnail p-4">
       <img alt="{{ key }}, When is the wedding" src="{{ config_files['products'][key] }}"/>
      </div>
      <figcaption class="painting-name">
       Belleza, cosmética y cuidado personal
      </figcaption>
      <figcaption class="painting-author text-bold">
       {{ key }}
      </figcaption>
      <figcaption class="painting-price" data-format="money">
       $ 1,000
      </figcaption>
     </figure>
    </li>
    {% endfor %}

   </ul>
 </div>
 </div>
</div>
{% endblock %}
