<div data-role="appbar" class="pos-relative bg-darkTeal fg-white">

	<a href="#" class="app-bar-item d-block d-none-lg" id="paneToggle"><span class="mif-menu"></span></a>
	<div class="app-bar-container ml-auto">
		<button value="facebook" class="button app-bar-item bg-darkTeal" onclick="animateDemo(value)">
		    <span class="mif-facebook mif-3x fg-white"></span>
		</button>

		<button value="instagram" class="button app-bar-item bg-darkTeal" onclick="animateDemo(value)">
		    <span class="mif-instagram mif-3x fg-white"></span>
		</button>

		<button value="whatsapp" class="button app-bar-item bg-darkTeal" onclick="animateDemo(value)">
		    <span class="mif-whatsapp mif-3x fg-white"></span>
		</button>

		<div class="app-bar-container">
		    <a href="#" class="app-bar-item">
		        <img src="{{ libs['fractal-img'] + '/logo.jpg' }}" class="avatar">
		        <span class="ml-2 app-bar-name">Saponis</span>
		    </a>
		    <div class="user-block shadow-1" data-role="collapse" data-collapsed="true">
		        <div class="bg-dark fg-teal p-2 text-center">
		            <img src="{{ libs['fractal-img'] + '/logo.jpg' }}" class="avatar">
		            <div class="h4 mb-0">Saponis</div>
		            <div>jabon.saponis</div>
		        </div>
		        <div class="bg-white d-flex flex-justify-between flex-equal-items p-2">
		            <button class="button flat-button">Followers</button>
		            <button class="button flat-button">Sales</button>
		            <button class="button flat-button">Friends</button>
		        </div>
		        <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
		            <button class="button mr-1">Profile</button>
		            <button class="button ml-1">Sign out</button>
		        </div>
		    </div>
		</div>
		<a href="#" class="app-bar-item">
		    <span class="mif-cogs"></span>
		</a>
	</div>
</div>
